[submodule "Spring_2025/src/org/howard/edu/lsp/lsp_repo_-spring2025-/Spring_2025/src/org/howard/edu/lsp"]
	path = Spring_2025/src/org/howard/edu/lsp/lsp_repo_-spring2025-/Spring_2025/src/org/howard/edu/lsp
	url = https://github.com/paria-92/LSP_ASSIGNMENT2.git
[submodule "Spring_2025/src/org/howard/edu/lsp/Spring_2025/src/org/howard/edu/lsp"]
	path = Spring_2025/src/org/howard/edu/lsp/Spring_2025/src/org/howard/edu/lsp
	url = https://github.com/paria-92/LSP_ASSIGNMENT2.git
